/* Web Calculator */

.calculator {
   border-radius: 0.5rem;
   background-color: gainsboro;
   transition: background-color 1s;
   transition: color 1s;
   padding: 1rem;
   }
.calculator .calculator-header {
   font-size: 1.3rem;
   font-weight: bold;
   margin-bottom: 10px;
   }
.calculator .calculator-theme {
   float: right;
   }
.calculator .calculator-value input {
   text-align: right;
   }
.calculator .calculator-buttons {
   margin-bottom: 15px;
   }
.calculator .calculator-accumulator {
   font-weight: bold;
   }
.calculator.alt-theme {
   color: white;
   background-color: dimgray;
   }
